{% set currentRoute = app.request.attributes.get('_route') %}

<header>
    <div class="header-logo">
        <img src="{{ asset("/medias/logo.png") }}" alt="Logo">
    </div>
    <nav class="header-navbar-responsive">
        <button class="btnSearch" onclick="openSearchModule()">
            <i class="fi fi-rr-search"></i>
        </button>
        <button class="btnMenu" onclick="toggleResponsiveHeaderNavbar()">
            <i class="fi fi-rr-menu-burger"></i>
        </button>
    </nav>
    <nav class="header-navbar">
        <a href="{{ path('main.index') }}" class="link {% if currentRoute == 'main.index' %}active{% endif %}">
            {% trans %}Accueil{% endtrans %}
        </a>
        <a href="{{ path('main.about') }}" class="link {% if currentRoute == 'main.about' %}active{% endif %}">
            {% trans %}A propos{% endtrans %}
        </a>
        <a href="#" class="link">
            {% trans %}Articles{% endtrans %}
        </a>
        <a href="{{ path('main.gallery') }}" class="link {% if currentRoute == 'main.gallery' %}active{% endif %}">
            {% trans %}Galerie{% endtrans %}
        </a>
        <button class="btnSearch" onclick="openSearchModule()">
            <i class="fi fi-rr-search"></i>
        </button>
    </nav>

    <div id="searchBox">
        <div class="background" onclick="closeSearchModule()"></div>
        <div class="input-box">
            <div class="ico">
                <i class="fi fi-rr-search"></i>
            </div>
            <input type="text" placeholder="{% trans %}Rechercher...{% endtrans %}">
        </div>
    </div>

</header>