{# templates "./pages/main/index.html.twig" #}

{% extends "./base.html.twig" %}

{% block title %}
    {% trans %}Allistair B. - A propos{% endtrans %}
{% endblock %}

{% block container %}

    <div id="container">

        {% include "./modules/header.module.html.twig" %}

        <main>

            

        </main>

        {% include "./modules/footer.module.html.twig" %}

    </div>

{% endblock %}