{# templates "./pages/main/index.html.twig" #}

{% extends "./base.html.twig" %}

{% block container %}

    <div id="container">

        <header>
            HEADER
        </header>

    </div>

{% endblock %}