{# templates "./pages/main/index.html.twig" #}

{% extends "./base.html.twig" %}

{% block container %}

    <div id="container">

        {% include "./modules/header.module.html.twig" %}

        <main>

            <div class="banner striped"></div>

            <div class="about">
                <div class="about-avatar striped"></div>
                <div class="about-text">
                    Lorem ipsum dolor sit amet consectetur. Bibendum donec ultricies eu libero 
                    urna eu pellentesque facilisi. Aenean dui feugiat tincidunt interdum ipsum mi rutrum. 
                    Eu amet ultrices neque aliquam velit id. A vitae scelerisque nunc interdum risus a egestas. 
                    At diam et pharetra suspendisse. Aenean at eu arcu donec nibh
                </div>
                <a href="#" class="about-button">
                    En savoir plus
                </a>
            </div>

            <div class="last-articles">
                <div class="title">Derniers articles</div>
                <div class="articles-list">

                    <a href="#" class="article">
                        <div class="article-cover striped"></div>
                        <div class="article-content">
                            <div class="article-title">Lorem ipsum dolor sit amet</div>
                            <div class="article-keywords">
                                <span class="keyword">Mot clé</span>,
                                <span class="keyword">Mot clé</span>
                            </div>
                            <div class="article-date">Ajouté le ...</div>
                            <div class="article-description">
                                Lorem ipsum dolor sit amet consectetur. 
                                Id lorem id diam pulvinar gravida consequat nec. 
                                Libero massa mauris et sapien sagittis mauris. Aenean feugiat tristique pretium ultrices 
                                fusce magna. Viverra aliquet nibh mi tortor purus venenatis est urna. 
                                Molestie sit ut ultrices morbi et integer...
                            </div>
                            <div class="article-button">Lire</div>
                        </div>
                    </a>

                    <a href="#" class="article">
                        <div class="article-cover striped"></div>
                        <div class="article-content">
                            <div class="article-title">Lorem ipsum dolor sit amet</div>
                            <div class="article-keywords">
                                <span class="keyword">Mot clé</span>,
                                <span class="keyword">Mot clé</span>
                            </div>
                            <div class="article-date">Ajouté le ...</div>
                            <div class="article-description">
                                Lorem ipsum dolor sit amet consectetur. 
                                Id lorem id diam pulvinar gravida consequat nec. 
                                Libero massa mauris et sapien sagittis mauris. Aenean feugiat tristique pretium ultrices 
                                fusce magna. Viverra aliquet nibh mi tortor purus venenatis est urna. 
                                Molestie sit ut ultrices morbi et integer...
                            </div>
                            <div class="article-button">Lire</div>
                        </div>
                    </a>

                    <a href="#" class="article">
                        <div class="article-cover striped"></div>
                        <div class="article-content">
                            <div class="article-title">Lorem ipsum dolor sit amet</div>
                            <div class="article-keywords">
                                <span class="keyword">Mot clé</span>,
                                <span class="keyword">Mot clé</span>
                            </div>
                            <div class="article-date">Ajouté le ...</div>
                            <div class="article-description">
                                Lorem ipsum dolor sit amet consectetur. 
                                Id lorem id diam pulvinar gravida consequat nec. 
                                Libero massa mauris et sapien sagittis mauris. Aenean feugiat tristique pretium ultrices 
                                fusce magna. Viverra aliquet nibh mi tortor purus venenatis est urna. 
                                Molestie sit ut ultrices morbi et integer...
                            </div>
                            <div class="article-button">Lire</div>
                        </div>
                    </a>

                </div>
                <a href="#" class="view-all">
                    Tous voir
                </a>
            </div>

        </main>

        {% include "./modules/footer.module.html.twig" %}

    </div>

{% endblock %}