{# templates "./pages/main/index.html.twig" #}

{% extends "./base.html.twig" %}

{% block container %}

    <div id="container">

        <header>
            <div class="header-logo">
                <img src="{{ asset("/medias/logo.png") }}" alt="Logo">
            </div>
            <nav class="header-navbar-responsive">
                <button id="btnSearch">
                    <i class="fi fi-rr-search"></i>
                </button>
                <button id="btnMenu">
                    <i class="fi fi-rr-menu-burger"></i>
                </button>
            </nav>
            <nav class="header-navbar">
                <a href="#" class="link active">Accueil</a>
                <a href="#" class="link">A propos</a>
                <a href="#" class="link">Articles</a>
                <a href="#" class="link">Gallerie</a>
            </nav>
        </header>

    </div>

{% endblock %}