{# templates "./pages/main/index.html.twig" #}

{% extends "./base.html.twig" %}

{% block container %}

    <div id="container">

        <header>
            <div class="header-logo">
                <img src="{{ asset("/medias/logo.png") }}" alt="Logo">
            </div>
            <nav class="header-navbar-responsive">
                <button class="btnSearch" onclick="openSearchModule()">
                    <i class="fi fi-rr-search"></i>
                </button>
                <button class="btnMenu" onclick="toggleResponsiveHeaderNavbar()">
                    <i class="fi fi-rr-menu-burger"></i>
                </button>
            </nav>
            <nav class="header-navbar">
                <a href="#" class="link active">Accueil</a>
                <a href="#" class="link">A propos</a>
                <a href="#" class="link">Articles</a>
                <a href="#" class="link">Gallerie</a>
                <button class="btnSearch" onclick="openSearchModule()">
                    <i class="fi fi-rr-search"></i>
                </button>
            </nav>

            <div id="searchBox">
                <div class="background" onclick="closeSearchModule()"></div>
                <div class="input-box">
                    <div class="ico">
                        <i class="fi fi-rr-search"></i>
                    </div>
                    <input type="text" placeholder="Rechercher...">
                </div>
            </div>

        </header>

        <main>

            <div class="banner striped"></div>
            <div class="about">
                <div class="about-avatar striped"></div>
                <div class="about-text">
                    Lorem ipsum dolor sit amet consectetur. Bibendum donec ultricies eu libero 
                    urna eu pellentesque facilisi. Aenean dui feugiat tincidunt interdum ipsum mi rutrum. 
                    Eu amet ultrices neque aliquam velit id. A vitae scelerisque nunc interdum risus a egestas. 
                    At diam et pharetra suspendisse. Aenean at eu arcu donec nibh
                </div>
                <button class="about-button">
                    En savoir plus
                </button>
            </div>

        </main>

        <footer>
            Instanteral&copy; - 2025 - Tous droits réservés.
        </footer>

    </div>

{% endblock %}